@page
@model CatDogLoverManagement.Pages.Post.MyServicePostModel
@{
}



@{
    String jsonString = HttpContext.Session.GetString("userId");
    if (!string.IsNullOrEmpty(jsonString))
    {
        if (!jsonString.Equals("4984f0a0-fb04-4759-baad-0682b4f8657f"))
        {
@if (Model.BlogPosts.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().OpenDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.BlogPosts.First().Status)
                </th>
                <th>
                    Time Frame
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <form method="post" asp-page-handler="Delete">
                @foreach (var item in Model.BlogPosts)
                {
                <tr>
                    <input type="hidden" value="@item.PostId" asp-for="BlogPostsItemId">
                    <td>
                        <img src="@item.Image" width="100px" height="100px">
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                            @item.OpenDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                            @item.CreatedDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                            @if (item.Status.Equals("Success"))
                            {
                            <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status.Equals("Waiting") || item.Status.Equals("Processing"))
                            {
                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status.Equals("Approved"))
                            {
                                <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.Status)</span>
                            } else
                            {
                            <span class="badge bg-info">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                        </td>
                    <td>
                            @foreach (var timeFrame in item.TimeFrames)
                            {
                            <div class="badge bg-danger p-1">@timeFrame.From - @timeFrame.To</div>
                            }
                    </td>
                    <td>
                        
                        <a href="EditServicePost/@item.PostId" style="text-decoration: none;">
                             <button type="button" class="bg-primary text-white">Edit</button>                           
                        </a>
                        <button class="badge bg-danger p-2 mt-2" type="submit">Delete</button>
                        
                    </td>
                </tr>
                }
            </form>
        </tbody>
    </table>
}
else
{
    <div>
        <p>No Blog Posts Were Found!.</p>
    </div>
}

<style>
    .content {
        display: none;
    }
</style>


<script>
    function toggleContent(id) {
        var content = document.getElementById(id);

        if (content.style.display == "none") {
            content.style.display = "block";

        } else {
            content.style.display = "none";
        }
    }
</script>

        }
        else
        {
            <h1>Access Denied</h1>
        }
    }
    else
    {
        <h1>Access Denied</h1>
    }
}
