@page
@model CatDogLoverManagement.Pages.OrderService.ManageOrdersModel

@{
    ViewData["Title"] = "ManageOrders";
}

<h1>Manage Customer Orders</h1>

@if (Model.Order.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().BuyerName)
                </th>
                <th>
                    Post Type
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>  model.Order.First().Status)
                </th>
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form method="post" asp-page-handler="ApproveOrder">
                @foreach (var item in Model.Order)
                {
                <tr>
                    <input type="hidden" value="@item.OrderId" asp-for="OrderItemId">
                    <td>
                        <img src="@item.Image" width="100px" height="100px">
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.BuyerName)
                    </td>
                    <td>
                            @if (item.ServiceModel != null)
                            {
                            <h5>Service</h5>
                            <div class="badge bg-danger p-2" >@item.From - @item.To</div>
                            }
                            else
                            {
                            <h5>Animal exchange</h5>
                            }
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                            @item.OrderDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                            @if (item.Status.Equals("Success"))
                            {
                            <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status.Equals("Waiting"))
                            {
                            <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status.Equals("Approved"))
                            {
                            <span class="badge bg-secondary">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                    </td>
                    <td>
                            @if (item.Status.Equals("Success"))
                            {
                            <span class="badge bg-primary">Đã Thanh Toán</span>
                            }
                            else if (item.Status.Equals("Waiting"))
                            {
                            <button class="badge bg-info p-2" type="submit">Approve</button>
                            }
                            else if (item.Status.Equals("Approved"))
                            {
                            <span class="badge bg-secondary">Đã duyệt</span>
                            }
                    </td>
                </tr>
                }
            </form>
        </tbody>
    </table>
}
else
{
    <h2>Do not have any order yet!</h2>
    <a asp-page="../Home">
        <button>
            <img src="~/images/empty.png" width="200px" height="200px" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
        </button>
    </a>

}